*{
margin: 0;
padding: 0;
}

body{
    background-color: black;
    display: flex;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

main{
    display: grid;
    grid-template-areas: 
    'a a a b'
    'c c d d'
    'c c e e';
    gap: 5px;
    width: 50%;
    margin: auto;
}
main div{
    padding: 2cm;
}
.tab-a {
  background-color: orangered;
  grid-area: a;
}

.tab-b {
background-color: rgb(221, 167, 17);
grid-area: b;
}

.tab-c{
    background-color: green;
    grid-area: c;
}

.tab-d{
    background-color: rgb(103, 103, 231);
    grid-area: d;
}

.tab-e{
    background-color: rgb(103, 103, 231);
    grid-area: e;
}