* {
}

body {
  background-color: very lightgray;
}

main {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sedans {
  background-color: rgb(226, 131, 21);
  padding: 20px;
}

.sedans h2 {
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 25px;
}

.sedans p {
  color: white;
}
.sedans button{
    background-color: transparent;
    color: white;
    padding-top: 8px;
    padding-bottom: 10px;
}
.suv {
  background-color: rgb(16, 120, 161);
  padding: 20px;
}
.suv h2 {
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 25px;
}
.suv p {
  color: white;
}
.suv button{
    background-color: transparent;
    color: white;
    padding-top: 8px;
    padding-bottom: 10px;
}
.luxury {
  background-color: rgb(9, 131, 110);
  padding: 20px;
}
.luxury h2 {
  color: white;
  font-weight: bold;
  padding-bottom: 10px;
  padding-top: 25px;
}
.luxury p {
  color: white;
}
.luxury button{
    background-color: transparent;
    padding-top: 8px;
    padding-bottom: 10px;
    color: white;
}

.icon{
   padding-bottom: 1px;
   padding-top: 4px;
}